
/* Mark alignment as important so that graphs are displayed uniformly */
td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

/* Prevent search bar input from being squashed against top of page */
.input-group {
  margin: 20px 0px;
}

/* Make graphs all the same size */
svg {
  height: 150px;
}

/* set size of google map */
/* find the first td inside of each row and its child div and set it's height
  and width */
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}